.card-top {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}
a {
  cursor: pointer;
}
.card {
  padding: 20px;
  margin: 50px;
}
.item {
  margin: 0px 15px;
  text-align: center;
}
.item a:hover {
  color: blue;
}
.card img {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  transition: 0.3s ease-in-out;
}
.card img:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
/*card*/
.card {
  height: 60vh;
  margin: 25px;
  padding: 25px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.center img {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  width: 250px;
  margin: 20px 0;
  height: 162px;
}
h4,
h6 {
  font-weight: 400;
}
.card-table {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.center .btn {
  font-size: 14px !important;
  margin-top: 20px !important;
  font-weight: 400;
  padding: 12px 72px;
  border-radius: 3px !important;
}
